.Ccontact{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white; 
    padding: 50px;
}
.Cicon{
    display: flex ;
    border: 2px solid wheat;
   padding: 10px;
    border-radius: 5px;
}
.Cicon input{
    background-color: black;
    border: none;
    outline: none;
}
.Csymbol{
    word-spacing: 25px;
    font-size:30px;
    font-weight: lighter;
}
img{
    height: 130px;
    width: 130px;
    padding-top: 10px;
}
.Cbottom{
    display: flex;
}
.symbol i:hover{
    color: red;
}

