/* Google Fonts - Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }

  body {
    background: #f0faff;
  }

 .nav{
  height: 50px;
  width: 100%;
  background-color: #4a98f7;
  display: flex;
  justify-content: space-around;
  align-items:center;
 }

 .nav .nav-links{
  display: flex;
  justify-content: center;
  align-items: end;
  list-style-type: none;
 }
 .nav.nav-links li{
  margin: 0 10px;
 }
 .logo,
 .nav .nav-links li a,
 .LoginBtn
 {
  margin: 0 10px;
  text-decoration: none;
  
 }
 
 .logo{
  font-size: 28px;
  font-weight: 600;
  color: white;
 }

  .search-box{
    height: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 5px -4px 12px 0px rgb(201, 200, 195);
    background-color: white;

  }

  .search-box i{
    font-size:22px;
    color: #4a98f7;
  }

  .search-bar{
   font-size: 18px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}


.nav-Icons i{
  font-size: 22px;
  color: #f0faff;
  margin: 0px 15px;
  cursor: pointer;
}  


.nav-links li a{
  font-size: 20px;
}

.nav-links li:hover{
  background-color: #f0faff;
  color: black;
  border-radius: 2px;
  
}


/* catogories list  */

.second-Row{
  display: flex;
  justify-content: center;
  
}

.Catogories {
  margin-top: 50px;
  height: 100%;
  width:0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /* background-color:rgba(61, 177, 197, 0); */
  /* background-color: #4a98f7; */
  overflow-x: hidden;
  transition: 1.0s;
  padding-top: 60px;
  border-radius: 10px;
  border: 1px solid black;
}

.Catogories a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.Catogories a:hover {
  color: #f1f1f1;
}

.Catogories .closebtn {
  position: absolute;
  top: 0%;
  right: 25px; 
  font-size: 36px;
  margin-left: 50px;
}

.second-Row #mensList{
  /* position: absolute;
  top: 12%;
  right:25px; */
  height: 100%;
  width:0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color:#4a98f7;
  overflow-x: hidden;
  transition: 1.0s;
  padding-top: 60px;

}

.second-Row #mensList a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.second-Row #womensList{
  position: absolute;
  top: 19%;
  right: 25px;
}

@media screen and (max-height: 450px) {
  .Catogories {padding-top: 15px;}
  .Catogories a {font-size: 20px;}
}


/* mens Catogories */


.mensCatogory-List{
  height: 100%;
  width:0;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color:#4a98f7;
  overflow-x: hidden;
  transition: .3s;
  padding-top: 60px;
  border-radius: 20px;
}

.mensCatogory-List a{
  width: 250px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s; 
}

.mensCatogory-List h1{
  margin-left: 30px;
}

#closeList{
  position: absolute;
  top: 8%;
 font-size: 45px;
 font-weight: 900;
 margin-left: 150px;
}

/* this is for womens catogory list */


.womensCatogory-List{
  height: 100%;
  width:0;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color:#4a98f7;
  overflow-x: hidden;
  transition: .3s;
  padding-top: 60px;
  border-radius: 20px;
}

.womensCatogory-List a{
  width: 250px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s; 
}

.womensCatogory-List h1{
  margin-left: 30px;
}

#closeList{
  position: absolute;
  top: 9%;
 font-size: 45px;
 font-weight: 900;
 margin-left: 150px;
}

#closeList:hover,
.Catogories .closebtn:hover
{
  color: rgb(255, 0, 0);
  
}

.womensCatogory-List a:hover,
.mensCatogory-List a:hover
{
  color: white;
}